<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js">
        </script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>
        <div ng-controller="MyController">
            <h1>Hello {{ clock.now | date:'MM/dd/yyyy @ h:mma' }}!</h1>
        </div>
        <div ng-controller="ParentController">
            <div ng-controller="ChildController">
                <a ng-click="sayHello()">Say Hello</a>
                {{ person }}
            </div>
        </div>
    </body>
</html>